extends layout

block content
  .container-fluid.button-bottom
    .row
      button#signin.btn.btn-sign.btn-info.col-xs-5 Sign In
      button#signup.btn.btn-sign.btn-info.col-xs-5 Sign Up
    .row
      .signin-area
        p SIGN IN
      .signup-area
        p SIGN UP
  #map
